.main-form {
    padding: 10px;
}

.color-sel {
    margin-left: 6px;
    border: 1px solid black;
    width: 24px;
    height: 24px;
    display: inline-block;
    vertical-align: middle;
}

.color-menu-item {
    width: 100%;
    display: inline-block;
    line-height: 28px;
    font-size: 20px;
}

.colorpicker .color-menu-item .glyphicon {
    margin: 5px 0 0 10px;
}

.colorpicker .ui-menu-item {
    text-align: center;
}

.colorpicker .ui-selectmenu-button {
    height: 46px;
    margin-right: 10px;
    border-radius: 6px;
    border-color: #adadad;
    padding: 6px;
}

.colorpicker .ui-selectmenu-icon {
    margin-top: 7px;
}

.ui-selectmenu-menu .color-sel {
    margin: 0 0 2px 10px;
}

.form-inline {
    margin: -5px -5px;
}
.form-inline .form-group {
    margin: 5px 5px;
}

.history {
    padding: 10px;
}

.hist-elem {
    width: 100%;
    display: flex;
    align-items: center;
    margin-bottom: 10px;
    padding-bottom: 10px;
    border-bottom: 1px solid #ddd;
}

.hist-elem .play-button {
    margin-right: 10px;
}

.hist-elem .text {
    flex-grow: 1;
    font-size: 18px;
    margin-left: 15px;
}

.hist-elem button, .hist-elem .hist-swatch {
    flex-shrink: 0;
}

.text.sound-effect {
    font-style: oblique;
}

.text.to-speech {
    font-weight: bold;
}

.hist-swatch {
    margin-left: 10px;
    width: 25px;
}

.hist-swatch .color-sel {
    margin: 0;
}

.hist-swatch .glyphicon {
    font-size: 20px;
}
